.root-container-expand {
    border-radius: 15px 15px 0 0 !important;
}

.root-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(175, 175, 175, 0.1),
        0 6px 20px rgba(175, 175, 175, 0.1);

    // 头像和用户名
    .avatar-and-username {
        display: flex;
        justify-content: start;
        align-items: center;

        .username {
            padding-left: 15px;
        }
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    // 菜单内部
    .menu-part-expand {
        display: block !important;
    }

    .menu-part {
        display: none;
        position: absolute;
        z-index: 10;
        width: 100%;
        left: 0;
        bottom: 0;
        transform: translate(0, 100%);
        margin: 0;
        border-radius: 0 0 15px 15px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(175, 175, 175, 0.1),
            0 6px 20px rgba(175, 175, 175, 0.1);

        div {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 10px 0;

            .user-menu-btn {
                width: 200px;
                border: none;
                border-radius: 5px;
            }
        }
    }

}